<form class="row" (ngSubmit)="onFormSubmit(f)" #f="ngForm">
    <div class="row g-3">
        <div class="col-sm-5 form-group">
            <label for="postcode">Enter Postcode</label>
            <input
                type="text"
                id="postcode"
                class="form-control"
                name="postcode"
                ngModel
            />
        </div>
        <div class="row g-3">
            <div class="col-xs-12">
                <button
                    class="btn btn-success"
                    type="submit">
                    Search for Nearest Site
                </button>
            </div>
        </div>
    </div>
</form>